/*
Menu related selectors
*/
.jsdomenudiv {
	background-color: #FFFFFF;
	background-image: url(office_xp_menu_left.png);
	background-repeat: repeat-y;
	border: 1px solid #8A867A;
	cursor: default;
	padding-bottom: 1px;
	padding-top: 1px;
	position: absolute; /* Do not alter this line! */
	display: none;
	z-index: 10;
}

.jsdomenuitem {
	background: transparent;
	border: none;
	color: #000000;
	font-family: Tahoma, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 3px;
	padding-left: 30px;
	padding-right: 17px;
	padding-top: 3px;
	position: relative; /* Do not alter this line! */
}

.jsdomenuitemover {
	background-color: #e4fcae;
	border: 1px solid #91d61b;
	color: #000000;
	font-family: Tahoma, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	margin-left: 1px;
	margin-right: 1px;
	padding-bottom: 2px;
	padding-left: 28px;
	padding-right: 15px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}

.jsdomenuarrow {
	background-image: url(office_xp_arrow.png);
	background-repeat: no-repeat; /* Do not alter this line! */
	background-position: center center;
	height: 1em;
	margin-top: 3px;
	position: absolute; /* Do not alter this line! */
	right: 8px;
	width: 4px;
}

.jsdomenuarrowover {
	background-image: url(office_xp_arrow_o.png);
	background-repeat: no-repeat; /* Do not alter this line! */
	background-position: center center;
	height: 1em;
	margin-top: 2px;
	position: absolute; /* Do not alter this line! */
	right: 6px;
	width: 4px;
}

.jsdomenusep {
	margin-left: 28px;
	margin-right: 4px;
	margin-top: 0.49em;
	margin-bottom: 0.49em;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.jsdomenusep hr {
	display: none;
}

/*
Menu bar related selectors
*/
.jsdomenubardiv {
	/*background-color: #ECE9D8;
	background-image: url(office_xp_divider.png);
	background-position: left;
	background-repeat: no-repeat;
	border: 0px solid black;
	border-bottom: 1px solid black;*/
	background-image: url(../button-dark.jpg);
	cursor: default;
	width: 100%;
	padding-bottom: 3px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 3px;
	position: absolute; /* Do not alter this line! */
	visibility: visible;
}

.jsdomenubardragdiv {
	cursor: move;
	display: none;
	font-family: Tahoma, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
	visibility: hidden;
	width: 9px;
}

.jsdomenubaritem {
	background-image: url(../button-dark.jpg);
	/*background-color: #EFEDDE;
	border: 1px solid #EFEDDE;*/
	color: #ffffff;
	display: inline;
	font-family: Tahoma, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 2px;
	padding-left: 23px;
	padding-right: 9px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}

.jsdomenubaritemover {
	background-image: url(../button-grey.jpg);
	/*background-color: #C1D2EE;
	border: 1px solid #316AC5;*/
	color: #000000;
	display: inline;
	font-family: Tahoma, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 2px;
	padding-left: 23px;
	padding-right: 9px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}

.jsdomenubaritemclick {
	background-image: url(../button-lightgrey.jpg);
	/*background-color: #EFEDDE;
	border: 1px solid #8A867A;*/
	color: #000000;
	display: inline;
	font-family: Tahoma, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 2px;
	padding-left: 23px;
	padding-right: 9px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}

