#calendar {
	z-index: +999;
	position: absolute;
	visibility: hidden;
	border: 1px solid #A0A0A0;
	background-color: #ffffff;
}
#calendar a {
	text-decoration:none;
	color: #5AAC19;
}
#calendar table {
	font-size: 12px;
	border-spacing: 0px 0px;
}

tr.calendarHead {
	background-color: #5AAC19;
	background-image: url(../../button-dark.jpg);
}
td.CALCaption {
	padding: 2px;
}

span.CALCaption {
	font-weight: bold;
	color:#ffffff;
}

td.CALContent {
	background-color: #ffffff;
	padding: 5px;
}

div.CALContent {
	display:inline;
}

tr.CALTodayString td {
	padding: 5px;
	text-align: center;
	background-color: #f0f0f0;
	font-size: 11px;
}

#selectMonth {
	z-index:+999;
	position:absolute;
	visibility:hidden;
}

#selectYear {
	z-index:+999;
	position:absolute;
	visibility:hidden;
}

span.spanFilterBox {
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
}
span.spanActive {
	cursor: pointer;
	font-weight: bold;
	color: #5AAC19;
}

td.selectMouseOver {
	background-color: #5AAC19;
}

table.selectMonthYear {
	text-align: center;
	font-size: 11px;
	border:1px solid #a0a0a0;
	background-color:#f0f0f0
}

span.CALYearSelected {
	color:#000000;
	font-weight:bold
}

span.CALYear {
	color:#000000;
}

td.CALweekseparator {
	padding:0px;
	background-color:#d0d0d0;
}

span.CALDayNames {
	color:#5AAC19;
}
span.CALWeekNumbers {
	
}

span.CALToday {
	background-color:#ff0000;
	color: white;
	font-weight: bold;
}

span.CALWeekday {
	color:#C7C7C7
}

span.CALWeekdayPast {
	color:#E0E0E0
}

span.CALSaturday {
	color:#5AAC19
}

span.CALSaturdayPast {
	color:#5AAC19
}

span.CALSunday {
	color:#366F07
}

span.CALSundayPast {
	color:#366F07
}

a.CALselectedDay {
	border: 1px solid #ff0000
}