span.dgMessage {
	display: none;
	font-weight: bold;
	/*color: white;*/
}
.dgMessageOK {
	background-color: #000000;
	color: #ffffff;
}
.dgMessageError {
	background-color: #000000;
	color: #ff0000;
}
.dgMessageHint {
	background-color: #000000;
	color: #ffffff;
}

div.dataGrid {
	border: 1px solid #000000;
	width: 99.9%;
	background-color: #ffffff;
}
table.dgTableHead {
	table-layout: fixed;
	background-color: #EFEDDE;
	color: #000000;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
	border-bottom: 1px solid #cccccc;
	
}
table.dgTableHead td {
	overflow: hidden;
    padding: 2px 0px 2px 3px;
    margin: 0px;
    height: 22px;
    text-align: center;
    line-height: 12px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #ffffff;    
}

div.dgDivScroll {
	width: 100%;
	overflow: auto;
}

div.dgDivScrollLoading {
	background-color: #EFEDDE;
	background-image: url(loading.gif);
	background-position: center;
	background-repeat: no-repeat;
}


table.dgTableFoot {
	width: 100%;
	background-color: #EFEDDE;
	border-top: 1px solid #cccccc;
}
table.dgTableFoot td {
	overflow: hidden;
    margin: 0px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #ffffff;    
}

table.dgTableData {
	table-layout: fixed;
	width: 99.95%;
}
*table.dgTableData { /* only for IE*/
	table-layout: fixed;
	width: auto;
}
table.dgTableData td {
	overflow: hidden;
    padding: 2px 0px 2px 4px;
    margin: 0px;
    height: auto;
    line-height: 12px;
    
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

tr.dgRow {
	background-color: #FFFFFF;
	width: 100%;
}
tr.dgRowSelected {
	background-color: #336699;
	width: 100%;
	color: white;
}
tr.dgRowSelectedActive {
	background-color: #99BBFF;
	width: 100%;
	color: white;
}
tr.dgRowActive {
	background-color: #FFCCCC;
	width: 100%;
}
tr.dgRowSeparator {
	background-color: #EFEDDE;
	width: 100%;
	/*height: 5px; overwritten  by JS*/
}


fieldset.dataGridLegend {
	margin-top: 1em;
	width: 40em;
}

.dgPositiveAmount, .dgOverMaxAmount {
	color: #007f00;
}

tr.dgRowSelected .dgPositiveAmount, tr.dgRowSelected .dgOverMaxAmount {
	color: #00cc00;
}

.dgNegativeAmount, .dgUnderMinAmount {
	color: #FF3333;
}

.dgOverMaxAmount, .dgUnderMinAmount {
	font-weight: bold;
}