#header {
	visibility: hidden;
}
#staticMenuBar {
	display: none;
}
#footer {
	display: none;
}
#printMessage {
	text-align: center;
	background-color: #000000;
	height: 30px;
}
button {
	display: none;
}
button.printButton {
	display: inline;
}